extends layout

block content
  div.game-profile.card
      div.game-image
          img(src=`/images/${game.imgSrc}`, alt = `${game.name} Image`)
      div.game-info
          h1.game-name.border-top.border-bottom #{game.name}
          div.game-details
            h5 Developer: #{game.developer}
            h5 Publisher: #{game.publisher}
            h5 Release Date: #{game.releaseDate}
            h5 Platform: #{game.platform}
            h5 Genre: #{game.genre}
      div.game-description.border-top
          p #{game.description}
          p Lorep ipsum