extends layout

block content
    div.hero-image
        div.hero-text
            h1 WhatGame
            p A simple video game catalogue

    div.top
        h2.centered-text Choose from #{total} games!

    div.library
        each game in gameArray
            div.card
                img.card-img-top(src=`/images/${game.imgSrc}`, alt = `${game.name} Image`)
                div.card-body
                    h3.card-title #{game.name}
                ul.list.group.list-group-flush
                    li.list-group-item #{game.developer}
                    li.list-group-item #{game.platform}
                div.card-body
                    a.card-link(href = `/game/${game.id}`) View Details
