extends layout

block content
    div.hero-image
        div.hero-text
            h1 #{userName}

    div.top
        h2.centered-text You have #{total} favourite games.

    div.library
        each game in favArray
            div.card
                img.card-img-top-small(src=`/images/${game.imgSrc}`, alt = `${game.name} Image`)
                div.card-body
                    h3.card-title #{game.name}
                div.list.group
                    div.list-group-item
                        a #{game.developer}
                    div.list-group-item
                        a #{game.platform}
                div.card-body
                    a.card-link(href = `/game/${game.id}`) View Details

    div.wishlist
        h3 Wishlist
        p Add your wishlist below:

        form.form-inline(action ='/profile/addWishlist' method='POST')
            div.form-group.mr-sm-2
                label.mr-sm-2(for='wishName') Game:
                input#wishName.form-control.mr-sm-2(type='text', placeholder='Type game name' name='wishName')
                button.btn.btn-primary(type='submit') Submit
                button.btn.btn-primary(formaction='/profile/removeWishlist', type='submit') Remove

        div.wishlist.library
            each wish in wishArray
                div.card
                    div.card-body
                        h5 #{wish}
                        form(action='/profile/removeWishlist', method='PUT')
                            input(type='hidden', name='wishName', value = wish)
                            button.btn.btn-primary(type='submit') Remove


