extends layout

block content
    div.top.border
        h1.text-center Releases
        if (filter)
            h4.text-center #{totalNum} games found
        else
            h4.text-center The #{adjective} #{totalNum} games

    div.form-group.form-row.justify-content-center.w-50
        div.col-auto
            label(for = 'platformSel') Platform:
            select.form-control(id='platformSel')
                option(value='all') All platforms
                option(value='pc') PC
        div.col-auto
            label(for = 'ratingSel') Rating:
            select.form-control(id='ratingSel')
                option(value='5') 5
                option(value='4') 4


    div.library
        each game in releasesAll
            div.card
                div.card-1
                    img.card-img-top.card-img-top-custom(src= `${game.background_image}`)
                    div.card-img-overlay
                        h2
                        h2.card-title.text-white.text-center #{game.name}
                div.list.group
                    div.list-group-item
                        a #{dateHelper.cleanDate(game.released)}
                    if (game.genres.length)
                        div.list-group-item
                            each genre, index in game.genres
                                span  #{genre.name} #{(index < game.genres.length - 1) ? ' / ' : ''}
                    else
                    div.list-group-item
                        each platform, index in game.platforms
                            span  #{platform.platform.name} #{(index < game.platforms.length - 1) ? ' / ' : ''}
                    div.list-group-item
                        a #{game.rating}
                    div.list-group-item.text-center
                        a.card-link(href = `/releases/${game.slug}`) View Details