extends layout

block content
    div.top.border
        h1.text-center Upcoming releases for #{month}
        h4.text-center The next #{totalNum} games for this #{month}

    div.library
        each game in releasesAll
            div.card
                div.card-1
                    img.card-img-top.card-img-top-custom(src= `${game.background_image}`)
                    div.card-img-overlay
                        h2
                        h2.card-title.text-white.text-center #{game.name}
                div.list.group
                    div.list-group-item
                        a #{dateHelper.cleanDate(game.released)}
                    if (game.genres.length)
                        div.list-group-item
                            each genre, index in game.genres
                                span  #{genre.name} #{(index < game.genres.length - 1) ? ' / ' : ''}
                    else
                    div.list-group-item
                        each platform, index in game.platforms
                            span  #{platform.platform.name} #{(index < game.platforms.length - 1) ? ' / ' : ''}
                    div.list-group-item.text-center
                        a.card-link(href = `/releases/${game.slug}`) View Details
                    